pd.json
{
  "name": "pd",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "products",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        96
      ],
      "id": "0e53da02-7fa5-4dee-9a51-abcc257c3bf7",
      "name": "Webhook1",
      "webhookId": "5f2cad1f-c6b3-41c5-b9ab-827b6a0e846e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "072f60e1-d660-4b5b-b0f0-fc54ed3c017a",
              "name": "productId",
              "value": "={{ $json.body.productId }} ",
              "type": "string"
            },
            {
              "id": "6b4a4291-dbf7-4d2f-8c50-7abdfb09006d",
              "name": "productName",
              "value": "={{ $json.body.productName }}",
              "type": "string"
            },
            {
              "id": "62836f41-07e3-41dc-a2e4-851f3b35031d",
              "name": "quantity",
              "value": "={{ $json.body.quantity }} ",
              "type": "string"
            },
            {
              "id": "463b31da-125f-4270-a068-5a01ff02520d",
              "name": "price",
              "value": "={{ $json.body.price }} ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        96
      ],
      "id": "3c053f10-ad8f-4d33-b693-5107759979a7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc0e0613-0ce9-4450-932c-8ef890f58ba5",
              "leftValue": "={{ $json.productId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "6bef0d19-987f-403a-94c2-f59efa7dcefd",
              "leftValue": "={{ $json.productName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "496dadf4-9f9e-426d-92eb-6b19f44634d2",
              "leftValue": "={{ $json.quantity }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5acccf6f-fe80-4244-aff5-fcc5fad388ce",
              "leftValue": "={{ $json.price }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        96
      ],
      "id": "79ea409d-8c1b-4e8a-88f4-4270ea32e3f3",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1manSp82p7f-rMdAfP9CDGJdTbUfM3a_i3ngdqEJEuO0",
          "mode": "list",
          "cachedResultName": "products_67705343",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1manSp82p7f-rMdAfP9CDGJdTbUfM3a_i3ngdqEJEuO0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1manSp82p7f-rMdAfP9CDGJdTbUfM3a_i3ngdqEJEuO0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "รหัสสินค้า": "={{ $json.productId }}",
            "ชื่อสินค้า": "={{ $json.productName }}",
            "จำนวน": "={{ $json.quantity }}",
            "ราคา": "={{ $json.price }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "รหัสสินค้า",
              "displayName": "รหัสสินค้า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ชื่อสินค้า",
              "displayName": "ชื่อสินค้า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "จำนวน",
              "displayName": "จำนวน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ราคา",
              "displayName": "ราคา",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        0
      ],
      "id": "832ed146-d9c0-4b53-9ebf-e79d6d95f58d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3Efb8P75VgIfUyzS",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "eballoha@gmail.com",
        "subject": "ข้อมูลสินค้า",
        "emailType": "text",
        "message": "=รหัสสินค้า {{ $json['รหัสสินค้า'] }}\nชื่อสินค้า {{ $json['ชื่อสินค้า'] }}\nจำนวน {{ $json['จำนวน'] }}\nราคา {{ $json['ราคา'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ],
      "id": "ecffe85c-80ba-426c-ab80-e1f940abd7af",
      "name": "Send a message",
      "webhookId": "3cf6460c-104e-4149-b744-646e39c6e7c8",
      "credentials": {
        "gmailOAuth2": {
          "id": "mMLGLfBrTJ7iYWdI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"msg\": \"ข้อมูลถูกบันทึกแล้ว\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        0
      ],
      "id": "8202cb2f-daf6-440b-b899-0d897e9d040b",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"msg\": \"กรุณากรอกข้อมูลให้ครบถ้วน\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        272,
        192
      ],
      "id": "d015064e-9f9d-498c-b271-17ae58ac0bbf",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "content": "67705343\n\nบรรดิษฐ์ แย่ทิว\n\nเขียนเว็บบันทึกข้อมูลใน Google sheets และแจ้งเตือนผ่านอีเมล  โดยสร้าง API ติดต่อกับ Google sheets ด้วย n8n",
        "height": 112,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        -80
      ],
      "typeVersion": 1,
      "id": "6299dcb0-473e-4c62-b61b-7c3a6d729e59",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b12d15d1-6eee-4a6e-8f83-89758b47fe8f",
  "meta": {
    "instanceId": "d3c21c144165c7ec8085c31b5b00aa82f92fd48a0736053b25ffcff4bc759448"
  },
  "id": "YABKAKnKf8G0Fj9K",
  "tags": []
}