teat 2.json
{
  "name": "teat 2",
  "nodes": [
    {
      "parameters": {
        "path": "formdata",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1553e9e9-8dac-4c5c-974d-2221610f1cc0",
      "name": "Webhook",
      "webhookId": "a644cc25-a505-4798-93f0-9ec07fa46c67"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_av9t77ef_bxYaCOCHqQNqjXOULcAHA48CNgOggoSB0",
          "mode": "list",
          "cachedResultName": "รับข้อมูลการเบิกอุปกรณ์ ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_av9t77ef_bxYaCOCHqQNqjXOULcAHA48CNgOggoSB0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1386549169,
          "mode": "list",
          "cachedResultName": "การตอบแบบฟอร์ม 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_av9t77ef_bxYaCOCHqQNqjXOULcAHA48CNgOggoSB0/edit#gid=1386549169"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "d2a1fdfb-390f-4ef4-a7c5-01bc02203e15",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3Efb8P75VgIfUyzS",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8425a2e1-156c-438a-9a10-3918df17b846",
              "name": "name",
              "value": "={{ $json[\"ชื่อ – นามสกุล \"] }}",
              "type": "string"
            },
            {
              "id": "485b7d5c-5e3e-40cd-9565-58231420aa86",
              "name": "department",
              "value": "={{ $json[\"แผนก  \"] }}",
              "type": "string"
            },
            {
              "id": "76242f0c-5131-43d3-8226-cc6ba6af8dc8",
              "name": "list",
              "value": "={{ $json[\"  รายชื่ออุปกรณ์  \"] }}",
              "type": "string"
            },
            {
              "id": "97dde3e8-fa43-41ee-a0a5-8cdfaf681850",
              "name": "quantity",
              "value": "={{ $json[\"  จำนวนที่เบิก   \"] }}",
              "type": "string"
            },
            {
              "id": "f9dcf3af-2550-43af-b91c-6d1ac885037e",
              "name": "date",
              "value": "={{ $json[\"  วันที่เบิก \"] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "909c9f18-4798-47da-b646-c3a1f4b2833d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "e72ca62d-bd85-4f02-89cf-7777ca06cb43",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "93df5249-8dbd-415e-957b-75d983b035eb",
  "meta": {
    "instanceId": "d3c21c144165c7ec8085c31b5b00aa82f92fd48a0736053b25ffcff4bc759448"
  },
  "id": "MaR7BtXLTcEmhRHx",
  "tags": []
}